:root {
  --container: 72ch;
}
*{
  box-sizing:border-box
}
body {
  margin:0;
  font-family:Inter Tight,system-ui,sans-serif;
  line-height:1.6;
  background:#fafafa;
  color:#111
}
.wrap{
  max-width: var(--container);
  margin:20vh auto 0;
  padding:0 1.25rem
}
h1{
  font-size:2.5rem;
  margin:0 0 .5rem
}
p{
  margin:0
}
