:root {
  --bg: hsl(240, 100%, 98%);
  --fg: #1a1a1a;
  --muted: #656464;
  --link: #000000;
  --container: 1000px;
  --col-gap: 3rem;
  --section-y: 6rem;
  --section-y-less: 3rem;
  --radius: 12px;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: 'Inter Tight', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
}

.websites-main {
  min-height: 75vh;
  display: flex;
  align-items: center;      /* vertical */
  justify-content: center;  /* horizontal */
}

h1 {
  margin-bottom: 0.5rem;
}

a {
  color: var(--link);
  text-decoration: none;
}
a:hover { text-decoration: underline; }

.wrap {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1000px) {
  .wrap {
    padding: 0;
  }
}

.nav-block {
  display: flex;
  gap: 1.5rem;
}

.nav {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--col-gap);
}
@media (min-width: 900px) {
  .grid { grid-template-columns: 1fr 1fr; }
}

section {
  padding-bottom: var(--section-y);
}
section:first-of-type { border-top: none; padding-bottom: var(--section-y-less); }

.block { margin-bottom: 2rem; }

.xxl {
  font-size: clamp(2rem, 4vw, 3.2rem);
  line-height: 1.15;
  font-weight: 700;
}

.xl {
  font-size: clamp(1.5rem, 2.8vw, 2.2rem);
  line-height: 1.2;
  font-weight: 500;
}

.lg { font-size: 1.25rem; }

.muted { color: var(--muted); }

.capitalized {
  text-transform: uppercase;
}

.space {
  margin-bottom: 0.5rem;
}

figure { margin: 0; }
img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
  border: solid 1px;
}

.grid iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  display: block;
}

p { margin: 0; }

.footer {
  padding: 3rem 0;
  border-top: 1px solid #e9e9e9;
}

.underline {
  text-decoration: underline;
}

.goals-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}